* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}

#home {
  min-height: 100vh;
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 40px;
}

/* --------------Nav set up------------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  height: 70px;
}

.leftNav {
  padding-left: 4%;
  display: flex;
}

.logo {
  width: 40px;
}

nav hr {
  display: inline-block;
  border: 0;
  outline: 0;
  height: 1px;
  background-color: rgba(225, 255, 205, 0.3);
  width: 500px;
  margin-left: 100px;
  z-index: 2;
}

.navlinks {
  flex: 1;
  background: linear-gradient(
    to left,
    rgba(245, 225, 205, 0.4),
    rgba(225, 255, 205, 0.02)
  );
  height: 70px;
  align-items: center;
  display: flex;
  padding-left: 4%;
}

.navlinks ul .nav-links {
  list-style: none;
  display: inline-block;
  text-align: left;
  position: relative;
}

.navlinks ul .nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 20px;
  color: #fff;
}

.navlinks ul .nav-links::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #fff;
  left: 0;
  bottom: -24px;
}

.navlinks ul .nav-links.activeLink::after {
  width: 100%;
}

.menuIcon {
  display: none;
}

/* -----------------------CONTENT SECTION-------------------- */
.hero {
  padding: 0 10%;
}
.title {
  color: #fff;
  margin-top: 15%;
  text-transform: uppercase;
  font-size: 28px;
  animation: moveUp linear 0.5s;
}

.title span {
  display: block;
  font-size: 125px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  animation: moveUp linear 1s;
}

.heroText {
  color: #fff;
  max-width: 380px;
  font-size: 16px;
  animation: moveUp linear 1.5s;
}

.explore-btn {
  position: absolute;
  bottom: 100px;
  right: 150px;
  background-color: transparent;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  animation: moveUp linear 2s;
  transition: background 0.4s;
}

.explore-btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
}

.explore-btn:hover {
  background: linear-gradient(
    to left,
    rgba(245, 225, 205, 0.6),
    rgba(225, 255, 205, 0.4)
  );
}

.explore-btn span a {
  text-decoration: none;
  text-transform: uppercase;
  color: #545434;
  font-size: 20px;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#destination {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 100px 10%;
  color: #fff;
}

.destinations {
  margin-bottom: 100px;
}
.destinations a {
  color: #fff;
  text-decoration: none;
  font-size: 52px;
}

.destinations a:hover {
  text-decoration: underline;
}

.rowDestination {
  display: flex;
  justify-content: space-between;
}

.rowDestination .col1 {
  flex-basis: 38%;
  padding: 20px;
}

.planetImages,
.specialist {
  width: 80%;
  display: none;
}

.planetImages img {
  width: 70%;
}

.planetImages.activeImages,
.specialist.activeImages {
  display: block;
  transition: 0.5s;
}

.rowDestination .col2 {
  flex-basis: 60%;
}

.dest-header {
  font-size: 32px;
}

.tab-links {
  display: flex;
  margin: 30px 0;
}

.tab-links p {
  font-size: 24px;
  margin-right: 25px;
  cursor: pointer;
  position: relative;
}

.tab-links p::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.4s;
}

.tab-links p.activeTabLink::after {
  width: 50%;
}

.tab-content,
.info {
  margin-bottom: 30px;
  display: none;
  transition: 0.4s;
}

.tab-info,
.info {
  font-size: 24px;
  line-height: 36px;
}

.tab-content.activeTab {
  display: block;
}

.info.crewInfo {
  display: block;
}
/* --------------------------CREW------------------------- */

#crew {
  background-image: url(./assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 100px 10%;
  color: #fff;
}

.specialist img {
  width: 100%;
}

.crewLink {
  display: flex;
  margin: 20px 0;
}

.crewLink p {
  font-size: 20px;
  margin-right: 25px;
  cursor: pointer;
  position: relative;
}

.crewLink p::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.crewLink p.activeCrewLink::after {
  width: 50%;
}

@media (max-width: 900px) {
  #home {
    background-image: url(./assets/home/background-home-tablet.jpg);
    padding-bottom: 70px;
  }

  .logo {
    width: 50px;
  }

  nav hr {
    width: 180px;
  }

  .navlinks ul .nav-links a {
    font-size: 13px;
  }

  /* --------------CONTENT_SECTION------------------- */

  .title {
    font-size: 20px;
  }

  .title span {
    font-size: 80px;
  }

  .heroText {
    color: #fff;
    max-width: 300px;
    font-size: 16px;
  }

  .explore-btn {
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
  }

  /* ------------------DESTINATION--------------- */
  #destination {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
  }

  .destinations {
    font-size: 24px;
  }
  .dest-header {
    font-size: 22px;
  }

  .tab-info {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  #home {
    background-image: url(./assets/home/background-home-mobile.jpg);
    padding: 0;
  }

  .menuIcon {
    display: block;
  }

  nav {
    padding: 15px 4%;
    justify-content: space-between;
    margin-top: 0;
  }

  .logo {
    width: 40px;
  }

  .leftNav {
    padding-left: unset;
  }

  .navlinks {
    position: fixed;
    top: 0;
    right: -275px;
    padding-top: 50px;
    padding-left: 0;
    height: 100vh;
    /* background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ); */
    background: #000;
    width: 275px;
    z-index: 999;
    transition: 0.4s;
  }

  .navlinks.menuwidth {
    right: 0px;
  }

  .navlinks ul {
    width: 100%;
    padding: 0 6%;
  }
  .navlinks ul .nav-links {
    display: block;
    margin-bottom: 30px;
    text-align: lefts;
  }

  .navlinks ul .nav-links a {
    margin-right: 0;
    font-size: 20px;
  }

  .close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .navlinks ul .nav-links.activeLink::after {
    width: 0;
  }

  nav hr {
    width: 70%;
    height: 3px;
    margin: unset;
  }

  /* CONTENT */
  .title {
    margin-top: 10%;
  }

  .explore-btn {
    position: unset;
    margin-top: 20px;
  }

  /* -------------------DESTINATION----------------------- */
  #destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
    padding: 40px 20px;
  }

  .rowDestination {
    flex-direction: column;
  }

  .destinations {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }

  .destinations a {
    font-size: 30px;
  }

  .rowDestination .col1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
  }

  .rowDestination .planetImages img {
    width: 100%;
    text-align: center;
  }

  .planetImages {
    margin: auto;
  }

  .rowDestination .col2 {
    width: 100%;
  }

  .dest-header {
    font-size: 22px;
    margin: 10px auto;
  }

  .tab-info {
    font-size: 18px;
  }

  /* ---------------CREW------------- */

  .crewLink p {
    font-size: 14px;
  }
}
