* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-position: center;
}

/* --------------Nav set up------------- */
nav {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  height: 70px;
}

.leftNav {
  padding-left: 4%;
  display: flex;
}

.logo {
  width: 40px;
}

nav hr {
  display: inline-block;
  border: 0;
  outline: 0;
  height: 1px;
  background-color: rgba(225, 255, 205, 0.3);
  width: 500px;
  margin-left: 100px;
  z-index: 2;
}

.navlinks {
  flex: 1;
  background: linear-gradient(
    to left,
    rgba(245, 225, 205, 0.4),
    rgba(225, 255, 205, 0.02)
  );
  height: 70px;
  align-items: center;
  display: flex;
  padding-left: 4%;
}

.navlinks ul .nav-links {
  list-style: none;
  display: inline-block;
  text-align: left;
  position: relative;
}

.navlinks ul .nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 20px;
  color: #fff;
}

.navlinks ul .nav-links::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #fff;
  left: 0;
  bottom: -24px;
}

.navlinks ul .nav-links.activeLink::after {
  width: 100%;
}

.menuIcon {
  display: none;
}

@media (max-width: 900px) {
  body {
    background-image: url(./assets/home/background-home-tablet.jpg);
  }

  .logo {
    width: 50px;
  }

  nav hr {
    width: 180px;
  }

  .navlinks ul .nav-links a {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  body {
    background-image: url(./assets/home/background-home-mobile.jpg);
  }

  .menuIcon {
    display: block;
  }

  nav {
    padding: 15px 4%;
    justify-content: space-between;
    margin-top: 0;
  }

  .logo {
    width: 40px;
  }

  .leftNav {
    padding-left: unset;
  }

  .navlinks {
    position: fixed;
    top: 0;
    right: -275px;
    padding-top: 50px;
    padding-left: 0;
    height: 100vh;
    /* background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ); */
    background: #000;
    width: 275px;
    z-index: 999;
    transition: 0.4s;
  }

  .navlinks.menuwidth {
    right: 0px;
  }

  .navlinks ul {
    width: 100%;
    padding: 0 6%;
  }
  .navlinks ul .nav-links {
    display: block;
    margin-bottom: 30px;
    text-align: lefts;
  }

  .navlinks ul .nav-links a {
    margin-right: 0;
    font-size: 20px;
  }

  .close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .navlinks ul .nav-links.activeLink::after {
    width: 0;
  }

  nav hr {
    width: 70%;
    height: 3px;
    margin: unset;
  }
}
